*{
    margin: 0;
    font-family: 'Work Sans';
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}
